:root {
    font-size: 18px;
}

:root[data-theme="theme-dark"]{
    --bg-color: hsl(235, 21%, 11%);
    --card-bg: hsl(235, 24%, 19%);
    --text-color: hsl(0, 0%, 73%);
    --inactive-color:hsl(234,11%,52%);
    --active-color: hsl(234,39%, 85%);
    --hover-color: hsl(236,33%, 92%);
    --check-color: hsl(233, 14%, 35%);
    --shadow-color: hsla(0, 0%, 7%, 0.877);
    --plus-color: white;
    --bg-img-mobile: url(./../images/bg-mobile-dark.jpg);
    --bg-img-desktop: url(./../images/bg-desktop-dark.jpg);
}

:root[data-theme="theme-light"] {
    --bg-color: hsl(236, 33%, 92%);
    --card-bg: hsl(0, 0%, 98%);
    --text-color: hsl(0, 0%, 26%);
    --inactive-color: hsl(236, 9%, 61%);
    --active-color: hsl(220, 98%, 61%);
    --hover-color: hsl(235, 19%, 35%);
    --check-color: hsl(233, 11%, 84%);
    --shadow-color: hsla(240, 5%, 85%, 0.603);
    --plus-color: black;
    --bg-img-mobile: url(./../images/bg-mobile-light.jpg);
    --bg-img-desktop: url(./../images/bg-desktop-light.jpg);
  }

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

a, button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
    color: var(--inactive-color);
}

body{
    width: 100%;
    background-image: var(--bg-img-mobile);
    background-color: var(--bg--color);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    min-height:100vh;
}

main{
    width: inherit;
    min-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack:center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

section.wrapper{
    width: 90%;
    min-height: 90vh;
    display: -webkit-box;
    display: -msflexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow:hidden;
}

section.wrapper > *{
    width:100%;
    border-radius:4px;
    margin-bottom: 1rem;
}

section.wrapper > *:not(header):not(p) {
    background-color: var(--card-bg);
}

header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction: row;
            flex-direction:row;
    padding-top: 0.3rem;
    background-color: transparent;
}

header h1{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: white;
}

button {
    cursor: pointer;
}

.btn {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
}

.theme-btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: var(--card-color);
    height: 2.9rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
}

form span{
    width: 25px;
    height: 25px;
    border: 2px solid var(--check-color);
    border-radius: 50%;
    margin-right: 0.5rem;
}